<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>http://127.0.0.1:8000/deb_ipa/20250916/release/3_4_39/001_1129/CBRunloopDebug_0916_1129.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.example.myapp</string>
        <key>bundle-version</key>
        <string>3.4.39</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>电e宝-生产环境</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>